<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/connect4.css">
</head>
<body>
    <div class="video-background">
        <video autoplay muted loop playsinline>
            <source src="/static/video.mp4" type="video/mp4">
        </video>
    </div>

    <div class="content">
        <h2>Connect 4</h2>
        <p>{{if .Winner}}Winner: {{.Winner}}!{{else}}Player: {{.CurrentPlayer}}{{end}}</p>
        
        <div id="board">
            {{range $row := .Board}}
                {{range $col, $cell := $row}}
                <div class="circle {{if eq $cell "red"}}red-piece{{else if eq $cell "yellow"}}yellow-piece{{end}}"></div>
                {{end}}
            {{end}}
        </div>
        
        {{if not .Winner}}
        <br />
        <div id="buttons-container">
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="0" />
                <button type="submit" class="column-button">1</button>
            </form>
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="1" />
                <button type="submit" class="column-button">2</button>
            </form>
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="2" />
                <button type="submit" class="column-button">3</button>
            </form>
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="3" />
                <button type="submit" class="column-button">4</button>
            </form>
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="4" />
                <button type="submit" class="column-button">5</button>
            </form>
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="5" />
                <button type="submit" class="column-button">6</button>
            </form>
            <form method="POST" action="/play" style="display: inline-block;">
                <input type="hidden" name="column" value="6" />
                <button type="submit" class="column-button">7</button>
            </form>
        </div>
        {{end}}

        <br />
        <form method="POST" action="/reset">
            <button type="submit">Reset Game</button>
            <br />
            <br />
        </form>
    </div>
</body>
</html>