<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/connect4.css">
    <script src="/static/play.js" defer></script>
    <script src="/static/music.js" defer></script>
</head>
<body>
   <audio id="game-audio" loop autoplay>
    <source src="/static/générique.ogg" type="audio/ogg">
    <source src="/static/générique.mp3" type="audio/mpeg">
</audio>
    <img src="/static/titre.png" class="logo">

    <p>{{if .Winner}}Winner: {{.Winner}}!{{else}}Player: {{.CurrentPlayer}}{{end}}</p>

    <div id="board">
    {{range $row := .Board}}
        {{range $col, $cell := $row}}
        <div class="circle {{if eq $cell "red"}}red-piece{{else if eq $cell "yellow"}}yellow-piece{{end}}"
             data-col="{{$col}}">
        </div>
        {{end}}
    {{end}}
    </div>

    <br />
    <form method="POST" action="/reset">
        <button type="submit">Reset Game</button>
    </form>

    
    <button id="rules" style="position: fixed; bottom: 20px; right: 20px; padding: 10px 20px; font-size: 16px; cursor: pointer;">rules</button>

    <!-- Popup des règles -->
    <div id="rules-popup" style="display:none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 1000;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 30px; border-radius: 10px; max-width: 500px;">
            <h2>Règles du Puissance 4</h2>
            <p>
                  Each player takes turns placing a piece in a column.<br><br>
                The first player to line up four pieces of their colour horizontally, vertically or diagonally wins the game!
            </p>
            <button onclick="document.getElementById('rules-popup').style.display='none'" style="margin-top: 20px; padding: 10px 20px; cursor: pointer;">OK</button>
        </div>
    </div>

    <script>
    // Gestion des règles
    document.getElementById('rules').addEventListener('click', () => {
        document.getElementById('rules-popup').style.display = 'block';
    });
    </script>

</body>
</html>